@import 'tailwindcss';

.ant-pagination-item-link {
  background-color: #fff !important;
  color: #014158 !important;
  border-radius: 50% !important;
}

.page-title {
  color: #014158;
  font-weight: 600;
  font-size: 22px;
  line-height: 30px;
  margin-bottom: 20px;
}

ol {
  list-style-type: decimal;
  margin-left: 20px;
}

ul {
  list-style-type: disc;
  margin-left: 20px;
}
