@import 'tailwindcss';
@font-face {
  font-family: 'GolosText';
  src: url('./shared/assets/fonts/GolosText-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  font-family: 'GolosText', sans-serif !important;
}

.ant-pagination-item-link {
  background-color: #fff !important;
  color: #014158 !important;
  border-radius: 50% !important;
}

.page-title {
  color: #014158;
  font-weight: 600;
  font-size: 22px;
  line-height: 30px;
  margin-bottom: 20px;
}

ol {
  list-style-type: decimal;
  margin-left: 20px;
}

ul {
  list-style-type: disc;
  margin-left: 20px;
}
